EXPO_PUBLIC_APPWRITE_ENDPOINT=https://syd.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=smart-pay
EXPO_PUBLIC_APPWRITE_DATABASE_ID=smartpay-db
EXPO_PUBLIC_APPWRITE_PLATFORM=com.smartpay.resident
